@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  list-style: none; }

a {
  text-decoration: none; }

.menu-btn {
  position: fixed;
  z-index: 1;
  width: 28px;
  height: 20px;
  top: 0.8rem;
  right: 0.7rem;
  background: transparent;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  .menu-btn__burger {
    position: absolute;
    width: 20px;
    height: 3px;
    right: 0.5rem;
    top: 0.5rem;
    background: pink;
    border-radius: 5px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    .menu-btn__burger::before {
      content: "";
      position: absolute;
      width: 28px;
      height: 3px;
      top: -8px;
      background: #fae56f;
      border-radius: 5px;
      -webkit-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out; }
    .menu-btn__burger::after {
      content: "";
      position: absolute;
      width: 28px;
      height: 3px;
      top: 8px;
      background: #fae56f;
      border-radius: 5px;
      -webkit-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out; }
    .menu-btn__burger.open {
      -webkit-transform: rotate(720deg);
              transform: rotate(720deg);
      background: transparent; }
      .menu-btn__burger.open::before {
        -webkit-transform: rotate(45deg) translate(5px, 8px);
                transform: rotate(45deg) translate(5px, 8px);
        background: #ee9d68; }
      .menu-btn__burger.open::after {
        -webkit-transform: rotate(-45deg) translate(3px, -7px);
                transform: rotate(-45deg) translate(3px, -7px);
        background: #ee9d68; }

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  visibility: hidden; }
  nav.open {
    visibility: visible; }

.menu-nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  width: 100vw;
  height: 100vh;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #24303a;
  opacity: 0.97;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  .menu-nav.open {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  .menu-nav__time {
    padding: 1.5rem 1.5rem 1rem 1.5rem;
    line-height: 1.2;
    font-size: 12px; }
  .menu-nav__item {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
    border-bottom: 1px solid #666060;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    .menu-nav__item:nth-of-type(1) {
      border-top: 1px solid #666060; }
    .menu-nav__item.open {
      -webkit-transform: translateX(0);
              transform: translateX(0); }
    .menu-nav__item.active > a {
      color: #ee9d68; }
  .menu-nav__link {
    display: -ms-grid;
    display: grid;
    font-size: 1.1rem;
    padding: 0.7rem 0;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: #a7a2a2;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    .menu-nav__link:hover {
      color: #ee9d68; }
  .menu-nav__foot {
    padding: 2rem 1.5rem 200px 1.5rem;
    font-size: 12px; }

.menu-nav__item:nth-child(1) {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s; }

.menu-nav__item:nth-child(2) {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s; }

.menu-nav__item:nth-child(3) {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s; }

.menu-nav__item:nth-child(4) {
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s; }

.menu-nav__item:nth-child(5) {
  -webkit-transition-delay: 0.55s;
          transition-delay: 0.55s; }

.menu-nav__item:nth-child(6) {
  -webkit-transition-delay: 0.65s;
          transition-delay: 0.65s; }

.menu-nav__item:nth-child(7) {
  -webkit-transition-delay: 0.75s;
          transition-delay: 0.75s; }

.menu-nav__item:nth-child(8) {
  -webkit-transition-delay: 0.85s;
          transition-delay: 0.85s; }

.menu-nav__item:nth-child(9) {
  -webkit-transition-delay: 0.95s;
          transition-delay: 0.95s; }

.menu-nav__item:nth-child(10) {
  -webkit-transition-delay: 1.05s;
          transition-delay: 1.05s; }

.menu-nav__item:nth-child(11) {
  -webkit-transition-delay: 1.15s;
          transition-delay: 1.15s; }

.menu-nav__item:nth-child(12) {
  -webkit-transition-delay: 1.25s;
          transition-delay: 1.25s; }

.menu-nav__item:nth-child(13) {
  -webkit-transition-delay: 1.35s;
          transition-delay: 1.35s; }

.menu-nav__item:nth-child(14) {
  -webkit-transition-delay: 1.45s;
          transition-delay: 1.45s; }

@media screen and (min-width: 0px) {
  header .head-name__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    cursor: pointer;
    height: 2.5rem; }
    header .head-name__logo:hover > .material-icons {
      color: #fae56f; }
    header .head-name__logo .material-icons {
      font-size: 2.5rem;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      cursor: pointer;
      -webkit-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out; }
    header .head-name__logo h1 {
      font-weight: 800;
      border-left: 1px solid #fae56f;
      line-height: 1.3rem;
      padding: 0 0.5rem;
      font-size: 1.1rem;
      cursor: pointer; }
  header ul.head-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-right: 2rem; }
    header ul.head-name.open {
      visibility: hidden; }
    header ul.head-name .head-name__mob {
      border-left: 1px solid #a7a2a2;
      padding: 0 0.5rem;
      text-align: center;
      width: 4rem; }
      header ul.head-name .head-name__mob.active {
        background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0.1)));
        background: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
        color: #fae56f;
        border-radius: 5px;
        border-left: 1px solid #fae56f; }
      header ul.head-name .head-name__mob:hover > .material-icons {
        color: #fae56f; }
    header ul.head-name .material-icons {
      font-size: 1.3rem;
      cursor: pointer;
      -webkit-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out; }
    header ul.head-name h3 {
      font-size: 0.8rem; } }

body {
  background: #24303a;
  color: #fae56f;
  width: 100vw;
  height: 100vh;
  font-family: "Roboto", "Segoe UI", Tahoma, Verdana, sans-serif; }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.1))), url(../img/head.jpg);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)), url(../img/head.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  width: 100vw;
  padding-top: 0.3rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  header a {
    color: #ee9d68; }
