$primary-color: #24303a;
$secondary-color: #ee9d68;
$text-color: #fae56f;
$text-color2: rgb(167, 162, 162);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  list-style: none;
}
a {
  text-decoration: none;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@mixin transition-mix {
  transition: all 0.5s ease-in-out;
}

@media media-xxsm {
  @media screen and (min-width: 0px) and (max-width: 313px) {
    @content;
  }
}
