$primary-color: #24303a;
$secondary-color: #ee9d68;
$text-color: #fae56f;
$text-color2: rgb(167, 162, 162);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  list-style: none;
}
a {
  text-decoration: none;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@mixin transition-mix {
  transition: all 0.5s ease-in-out;
}

@mixin media-xxsm {
  @media screen and (max-width: 313px) {
    @content;
    ul.head-name {
      visibility: hidden;
    }
  }
}

@mixin media-xsm {
  @media screen and (min-width: 314px) {
    @content;
    .head-name__mob {
      &:nth-last-child(3) {
        visibility: hidden;
        display: none;
      }
    }
  }
}

@mixin media-sm {
  @media screen and (min-width: 360px) {
    @content;
  }
}

@mixin media-smd {
  @media screen and (min-width: 400px) {
    @content;
  }
}

@mixin media-md {
  @media screen and (min-width: 500px) {
    @content;
  }
}

@mixin media-lg {
  @media screen and (min-width: 700px) {
    @content;
  }
}

@mixin media-xl {
  @media screen and (min-width: 1000px) {
    @content;
  }
}
