$primary-color: #24303a;
$secondary-color: #ee7168;
$text-color: #fae56f;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  list-style: none;
}
a {
  text-decoration: none;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
