.grid-contain {
  padding: 3.4rem 0.1rem 1.5rem 0.1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, minmax(10px, 1fr));

  .card {
    background: darken($primary-color, 10%);
    border: 1px solid #333;
    color: #fff;

    &:nth-child(1) {
      //date selector
      grid-column: 1 / 1;
      grid-row: 1/ 2;
      .date-select {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        &__link {
          color: $text-color2;
          padding: 0.3rem 0.5rem;
          text-transform: uppercase;
          text-align: center;
          align-content: center;
          justify-self: center;
          width: 13vw;

          &:nth-child(1) > .live-logo {
            color: #333;
            background: $text-color2;
            border-radius: 5px;
            padding: 3px;
            width: max-content;
          }
        }
        &__match {
          font-size: 0.7rem;
          width: max-content;
          .material-icons {
            font-size: 0.6rem;
            width: max-content;
          }
        }
      }
    }

    &:nth-child(2) {
      //left side
      // grid-column: 1;
      // grid-row: 3 / 4;
      visibility: hidden;
    }

    &:nth-child(3) {
      //main menu
      grid-column: 1;
      grid-row: 2 / 3;
      padding: 1rem;

      h1 {
        text-align: center;
      }

      .matches-table {
        display: flex;
        flex-direction: column;

        .match-tile {
          border-bottom: 1px solid rgb(167, 166, 166);
          .match-team {
            display: flex;
            flex-direction: column;

            & img {
              width: 28px;
              height: 28px;
              text-align: center;
            }
            & .team {
              display: flex;
              flex-direction: row;
              text-align: center;
            }
          }
        }
      }
    }

    &:nth-child(4) {
      //right side
      // grid-column: 1;
      // grid-row: 4 / 5;
      visibility: hidden;
    }

    &:nth-child(5) {
      //stciky ad below
      // grid-column: 1;
      // grid-row: 3 / 4;
      position: fixed;
      bottom: 0;
      right: 25%;
      left: 25%;
      opacity: 0.55;
      padding: 1rem 2rem;
    }

    &:nth-child(6) {
      //footer
      grid-column: 1;
      grid-row: 3 / 4;
      padding: 1rem 2rem;
      padding-bottom: 2.3rem;
    }
  }
}
