.grid-contain {
  padding: 3.5rem 0.2rem 1.5rem 0.2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: minmax(100px, 1fr);

  .card {
    background: darken($primary-color, 10%);
    border: 1px solid #333;
    color: #fff;
  }
}
