.menu-btn {
  position: fixed;
  width: 28px;
  height: 20px;
  top: 1rem;
  right: 0.3rem;
  background: red;
  cursor: pointer;
  @include transition-mix;
  &__burger {
    position: absolute;
    width: 20px;
    height: 3px;
    background: pink;
    border-radius: 5px;
    @include transition-mix;

    &::before {
      content: "";
      position: absolute;
      width: 28px;
      height: 3px;
      top: -8px;
      background: $text-color;
      border-radius: 5px;
      @include transition-mix;
    }

    &::after {
      content: "";
      position: absolute;
      width: 28px;
      height: 3px;
      top: 8px;
      background: $text-color;
      border-radius: 5px;
      @include transition-mix;
    }

    &.open {
      transform: rotate(720deg);
      background: transparent;

      &::before {
        transform: rotate(45deg) translate(5px, 8px);
        background: $secondary-color;
      }
      &::after {
        transform: rotate(-45deg) translate(3px, -7px);
        background: $secondary-color;
      }
    }
  }
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  visibility: hidden;
  &.open {
    visibility: visible;
  }
}

.menu-nav {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: 100vw;
  height: 100vh;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  background: $secondary-color;
  opacity: 0.97;
  list-style-type: none;
  transform: translateY(-100%);
  @include transition-mix;

  &.open {
    transform: translateY(0);
  }
  &__time {
    padding: 1.5rem 1.5rem 1rem 1.5rem;
    line-height: 1.2;
    font-size: 12px;
  }

  &__item {
    transform: translateX(100vw);
    border-bottom: 1px solid #333;
    @include transition-mix;
    &:nth-of-type(1) {
      border-top: 1px solid #333;
    }
    &.open {
      transform: translateX(0);
    }
    &.active > a {
      color: $secondary-color;
    }
  }

  &__link {
    display: grid;
    font-size: 1.1rem;
    padding: 0.7rem 0;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: $text-color;
    @include transition-mix;

    &:hover {
      color: $secondary-color;
    }
  }

  &__foot {
    padding: 2rem 1.5rem 200px 1.5rem;
    font-size: 12px;
  }
}

@for $f from 1 through 13 {
  .menu-nav__item:nth-child(#{$f}) {
    transition-delay: ($f * 0.1s) + 0.05s;
  }
}
